<div class="card">
    <a href="/products/detail/<%= id %>">
      <div class="card-img">
        <div class="card-img-background">
          <img class="img-result" src="/images/<%=imagen%>" alt="">
        </div>
      </div>
      <div class="card-text-box">
        <h3 class="card-name"><%= titulo %></h3>
        <div class="card-value">
          <p class="card-price">$<%= precio%></p>
          <p class="card-price">$<%= description1%></p>
        </div>
      </div>
      <div class="card-button">
          <button>Agregar al carrito</button>
      </div>
    </a>
  </div>