<%- include('./partials/head')  %>
<body>
    <%- include('./partials/header')  %>
    <span class="envios-gratis-span">ENVIOS GRATIS EN PRODUCTOS MAYORES A $5000</span>
    <main class="
    categoria">

    <!-- NOVELAS -->
    <section class="index__main__section">

        <div class="index__main--titulares">
            <h2>Novelas</h2>
            <hr>
        </div> 
        <!-- ARREGLAR GENERO PARA QUE SEA IGUAL A LO QUE MANDO POR FORMULARIO -->
        <% libros.forEach(libro => { %> 
                <% if(libro.genero === "Novela" ||  libro.genero === "novela, ficcion" || libro.genero === "novela, terror" || libro.genero === "Novela Fantasía" || libro.genero === "Novela Negra") { %>
                    <div class="contenedor">
                    <div class="card--populares">
                        <figure>
                        <img src="/images/<%=libro.imagen ? libro.imagen : 'not image.png'%>" alt="">
                        </figure>
                    <div class="contenido">
                        <h3>$<%=libro.precio%></h3>
                        <a href="/products/detail/<%=libro.id%>">Leer más</a>
                    </div>
                </div>
            </div>   
            <% } %>  
            <% }) %>        
    </section>

        <!-- INFANTILES -->
        <section class="index__main__section">

            <div class="index__main--titulares">
                <h2>Infantiles</h2>
                <hr>
            </div> 
            
            <% libros.forEach(libro => { %>
                    <% if(libro.genero === "Infantil" ) { %>
                        <div class="contenedor">
                        <div class="card--populares">
                            <figure>
                            <img src="/images/<%=libro.imagen ? libro.imagen : 'not image.png'%>" alt="">
                            </figure>
                        <div class="contenido">
                            <h3>$<%=libro.precio%></h3>
                            <a href="/products/detail/<%=libro.id%>">Leer más</a>
                        </div>
                    </div>
                </div>   
                <% } %>  
                <% }) %>        
        </section>



        <!-- DIVULGACION -->
        <section class="index__main__section">

            <div class="index__main--titulares">
                <h2>Divulgación Científica</h2>
                <hr>
            </div> 
            
            <% libros.forEach(libro => { %>
                    <% if(libro.genero === "Divulgacion Cientifica" ) { %>
                        <div class="contenedor">
                        <div class="card--populares">
                            <figure>
                            <img src="/images/<%=libro.imagen ? libro.imagen : 'not image.png'%>" alt="">
                            </figure>
                        <div class="contenido">
                            <h3>$<%=libro.precio%></h3>
                            <a href="/products/detail/<%=libro.id%>">Leer más</a>
                        </div>
                    </div>
                </div>   
                <% } %>  
                <% }) %>        
        </section>
        

        <!-- COMICS -->
        <section class="index__main__section">

            <div class="index__main--titulares">
                <h2>Comics</h2>
                <hr>
            </div> 
            
            <% libros.forEach(libro => { %>
                    <% if(libro.genero === "Comics" ) { %>
                        <div class="contenedor">
                        <div class="card--populares">
                            <figure>
                            <img src="/images/<%=libro.imagen ? libro.imagen : 'not image.png'%>" alt="">
                            </figure>
                        <div class="contenido">
                            <h3>$<%=libro.precio%></h3>
                            <a href="/products/detail/<%=libro.id%>">Leer más</a>
                        </div>
                    </div>
                </div>   
                <% } %>  
                <% }) %>        
        </section>
        
        <!-- MANGA -->
        <section class="index__main__section">

            <div class="index__main--titulares">
                <h2>Mangas</h2>
                <hr>
            </div> 
            
            <% libros.forEach(libro => { %>
                    <% if(libro.genero === "Manga" ) { %>
                        <div class="contenedor">
                        <div class="card--populares">
                            <figure>
                            <img src="/images/<%=libro.imagen ? libro.imagen : 'not image.png'%>" alt="">
                            </figure>
                        <div class="contenido">
                            <h3>$<%=libro.precio%></h3>                            
                            <a href="/products/detail/<%=libro.id%>">Leer más</a>
                        </div>
                    </div>
                </div>   
                <% } %>  
                <% }) %>        
        </section>
        
<!-- AGREGAR FILTRADO POR CATEGORIAS QUE MUESTRE TODOS LOS LIBROS DE CADA CATEGORIA --> 

        <%- include('./partials/redes')  %>
    </main>
    <%- include('./partials/footer')  %>
    
    </body>
    </html>