<%- include('./partials/head')  %>
<body>
    <%- include('./partials/header')  %>
    <main class="
    categoria">
        <h1>categorias</h1>
        <h2 id="novela">Novelas y Sagas</h2>
        <section class="
        categoria__section">
            <% libros.forEach(libro => { %>
            <% if(libro.id >= 0 && libro.id < 9 ) { %>
                <article class="
                categoria__section__article">
                    <a href="/products/detail/<%=libro.id%>">
                        <img src= "/images/<%=libro.imagen%>" alt="">
                        <div class="
                        categoria__section__article__div">
                            <h3><%=libro.titulo%></h3>
                            <p>$<%=libro.precio%></p>
                        </div>
                    </a>
                </article>
            <% } %>
            <% }) %>
        </section>
        <h2 id="infantil">Infantiles</h2>
        <section class="
        categoria__section">
            <% libros.forEach(libro => { %>
            <% if(libro.id >= 9 && libro.id < 17 ) { %>
                <article class="
                categoria__section__article">
                    <a href="/products/detail/<%=libro.id%>">
                        <img src= "/images/<%=libro.imagen%>" alt="">
                        <div class="
                        categoria__section__article__div">
                            <h3><%=libro.titulo%></h3>
                            <p>$<%=libro.precio%></p>
                        </div>
                    </a>
                </article>
            <% } %>
            <% }) %>
        </section>
        <h2 id="ciencia">Divulgacion Cientifica</h2>
        <section class="
        categoria__section">
            <% libros.forEach(libro => { %>
            <% if(libro.id >= 17 && libro.id < 25 ) { %>
                <article class="
                categoria__section__article">
                    <a href="/products/detail/<%=libro.id%>">
                        <img src= "/images/<%=libro.imagen%>" alt="">
                        <div class="
                        categoria__section__article__div">
                            <h3><%=libro.titulo%></h3>
                            <p>$<%=libro.precio%></p>
                        </div>
                    </a>
                </article>
            <% } %>
            <% }) %>
        </section>
        <h2 id="Comics">Comics y Mangas</h2>
        <section class="
        categoria__section">
            <% libros.forEach(libro => { %>
            <% if(libro.id >= 25 && libro.id < 33 ) { %>
                <article class="
                categoria__section__article">
                    <a href="/products/detail/<%=libro.id%>">
                        <img src= "/images/<%=libro.imagen%>" alt="">
                        <div class="
                        categoria__section__article__div">
                            <h3><%=libro.titulo%></h3>
                            <p>$<%=libro.precio%></p>
                        </div>
                    </a>
                </article>
            <% } %>
            <% }) %>
        </section>  
    </main>
    <%- include('./partials/footer')  %>
    
</body>
</html>