<%- include('./partials/head')  %>
<body>
    <%- include('./partials/header')  %>
    <span class="envios-gratis-span">ENVIOS GRATIS EN PRODUCTOS MAYORES A $5000</span>
    <main class="editar__main">


        <!-- formulario edicion de libro -->
       <section class="editar__section--form">
         
         
        
        <form action="/products/editar/<%= id %>?_method=PUT " method="POST" class="fomulario-edicion">
            <h2 class="titulo--edicion">Editando el libro: <%= titulo %> </h2>

            <div class="datos--libro">
              <input type="text" name="titulo" id="titulo"  placeholder="Editar el título del libro" required value="<%= titulo %>">
              <input type="text" name="autor" id="autor" placeholder="Editar el nombre del autor" required value="<%= autor %>">
              <input type="number" name="precio" id="precio" placeholder="Editar el precio del libro $$$" required value="<%= precio %>">
              <input type="number" name="paginas" id="paginas" placeholder="Editar cantidad de paginas del libro" required value="<%= paginas %>">
              <input type="text" name="editorial" id="editorial" placeholder="Editar la editorial del libro" required value="<%= editorial %>">
              <label for="description2" class="titulo--edicion">Editar descripción del Libro:</label>
              <textarea name="description2" id="description2" placeholder="agregue una breve descripcion del libro"></textarea>
          
              </div>

              <div class="editar__categorias">
                <label for="categorias">Seleccionar genero</label>
                <select name="genero" id="genero" required>
                    <option value="Novela">Novela</option>
                    <option value="Novela Ficción">Novela Ficción</option>
                    <option value="Novela Negra">Novela Negra</option>
                    <option value="Novela Terror">Novela Terror</option>
                    <option value="Novela Fantasía">Novela Fantasia</option>
                    <option value="Infantil">Infantil</option>
                    <option value="Comics">Comics</option>
                    <option value="Manga">Manga</option>
                </select>
            </div>

            <div class="editar__portada">
                <label for="portada">Editar imagen de portada</label>
                <input type="file" name="portada" id="portada" accept="image/png, image/jpg">
            </div>

            <div class="edicion--buttons">
                <!--Boton para abrir el modal-->
            <div class="boton-modal detalle-comprar">
              <label for="btn-modal">
                EDITAR <i class="fa-solid fa-pen-to-square"></i> 
              </label>
          </div>
           <!--Ventana Modal para consultar si queire elminar producto-->
    <input type="checkbox" id="btn-modal">
    <div class="container-modal">
        <div class="content-modal">
            <h2>¡ATENCION!</h2>
            <p>¿Estas seguro de que deseas editar este libro?</p>
            <div class="btn-cerrar">
              
                <button type="submit">EDITAR <i class="fa-solid fa-pen-to-square"></i> </i></button>
               
                <label for="btn-modal">CANCELAR</i></label>
            </div>
        </div>
        <label for="btn-modal" class="cerrar-modal"></label>
    </div>
<!--Fin de Ventana Modal-->
          <!--Fin de Boton-->
               <!--  <button type="submit">Editar Libro</button>
                <button type="reset">Cancelar</button> -->
            </div>
            <div class="edicion--inicio">
                <a href="/">Ir al inicio</a>
            </div>
        </form>

   </section>

</main>


    </main>
            <!-- REDES SOCIALES -->              
            <section class="index__section__redes">
                <h5>¡Seguinos en nuestras redes!</h5>
                <div class="redes-sociales">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-youtube"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin"></i></a>           
                </div>
        
           </section>
           <%- include('./partials/footer')  %>
        <!-- AOS -->
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
          AOS.init();
        </script>
    
        <!-- GLIDER -->
        <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
    
        <script>
    new Glider(document.querySelector('.glider'), {
      // Mobile-first defaults
      slidesToShow: 1,
      slidesToScroll: 1,
      scrollLock: true,
      dots: '#resp-dots',
      arrows: {
        prev: '.glider-prev',
        next: '.glider-next'
      },
      responsive: [
        {
          // screens greater than >= 775px
          breakpoint: 768,
          settings: {
            // Set to `auto` and provide item width to adjust to viewport
            slidesToShow: '2',
            slidesToScroll: '2',
            itemWidth: 150,
            duration: 0.25
          }
        },{
          // screens greater than >= 1024px
          breakpoint: 1024,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 1,
            itemWidth: 100,
            duration: 0.25
          }
        }
      ]
    });
        </script>
    </body>
    </html>