<%- include('./partials/head')  %>
<body>
    <%- include('./partials/header')  %>
    <span class="envios-gratis-span">ENVIOS GRATIS EN PRODUCTOS MAYORES A $5000</span>
    <main class="editar__main">


          <!-- formulario edicion de libro -->
       <section class="editar__section--form">
         
         
        
        <form action="/products/" method="POST" class="fomulario-edicion" enctype="multipart/form-data" id="formAddBook">
            <h2 class="titulo--edicion">Agregar un libro al Catálogo</h2>

            

            <div class="datos--libro">

              <div class="selectAutor">
                <label for="autor" class="titulo--edicion">Seleccionar Autor</label>
                <select name="autor" id="autor" class="<%= locals.errors && errors.autor ? 'errorInput' : null %>">
                  <option value="" selected hidden>Seleccione...</option>
                  <% autor.forEach(({nombre, id}) => { %>
                   <option value="<%= id %>"<%= locals.errors && locals.old.autor && locals.old.autor == id ? 'selected' : null %> ><%= nombre %></option>
                  <% }) %>
                </select>
                <small id="errorAutor"><%= locals.errors && errors.autor ? errors.autor.msg : null %></small>
              </div>

            <input type="text" class="<%= locals.errors && errors.titulo ? 'errorInput' : null %>" name="titulo" id="titulo"  placeholder="Ingresar el título del libro" value="<%= locals.old && old.titulo ? old.titulo : null %>">
            <small id="errorTitulo"><%= locals.errors && errors.titulo ? errors.titulo.msg : null %></small>
            

            <input type="number" class="<%= locals.errors && errors.precio ? 'errorInput' : null %>" name="precio" id="precio" placeholder="Ingresar el precio del libro $$$" value="<%= locals.old && old.precio ? old.precio : null %>">
            <small id="priceError"><%= locals.errors && errors.precio ? errors.precio.msg : null %></small>

            <input type="number" class="<%= locals.errors && errors.paginas ? 'errorInput' : null %>" name="paginas" id="paginas" placeholder="Ingrese cantidad de paginas del libro" value="<%= locals.old && old.paginas ? old.paginas : null %>">
            <small id="errorPaginas"><%= locals.errors && errors.paginas ? errors.paginas.msg : null %></small>

       

          
        <div class="selectEditorial">
  <label for="editorial" class="titulo--edicion">Seleccionar Editorial</label>
  <select name="editorial" id="editorial" class="<%= locals.errors && errors.editorial ? 'errorInput' : null %>">
    <option value="" selected hidden>Seleccione...</option>
    <% editorial.forEach(({nombre, id}) => { %>
     <option value="<%= id %>"<%= locals.errors && locals.old.editorial && locals.old.editorial == id ? 'selected' : null %>><%= nombre %> </option>
    <% }) %>
  </select>
  <small id="errorEditorial"><%= locals.errors && errors.editorial ? errors.editorial.msg : null %></small>
        </div>
            

            <input type="text" class="<%= locals.errors && errors.video ? 'errorInput' : null %>"  name="video" id="video" placeholder="ingrese link de video reseña" value="<%= locals.old && old.video ? old.video : null %>"> <!-- agregar al controlador, al json y validar -->
            <small id="errorLink"><%= locals.errors && errors.video ? errors.video.msg : null %></small>

            <label for="description2" class="titulo--edicion">Descripción del Libro:</label>
            <textarea name="description2" class="<%= locals.errors && errors.description2 ? 'errorInput' : null %>" id="description2"  placeholder="agregue una breve descripcion del libro" rows="5"><%= locals.old && old.description2 ? old.description2 : null %></textarea>
            <small id="errorDescript"><%= locals.errors && errors.description2 ? errors.description2.msg : null %></small>
            </div>

            <div class="editar__categorias">
                <label for="categorias">Seleccionar genero</label>
                <select name="genero" id="genero" class="<%= locals.errors && errors.genero ? 'errorInput' : null %>">
                  <option value="" selected hidden> Seleccione...</option>
                  <% genero.forEach(({nombre, id}) => { %>
                    <option value="<%= id %>"<%=locals.errors && locals.old.genero && locals.old.genero == id ? 'selected' : null %>><%= nombre %> </option>
                   <% }) %>
                </select>
                <small id="errorGenero"><%= locals.errors && errors.genero ? errors.genero.msg : null %></small>
            </div>

            <div class="editar__portada">
                <label for="portada" class="file">Agregar imagen de portada</label>
                <input type="file" class="<%= locals.errors && errors.image ? 'errorInput' : null %>" name="image" id="image">
                <small id="errorImage"><%= locals.errors && errors.image ? errors.image.msg : null %></small>
            </div>

            
            <div class="edicion--buttons">
                 <!--Boton para abrir el modal-->
            <div class="boton-modal detalle-comprar agregarLibro">
              <label for="btn-modal">
                AGREGAR <i class="fa-solid fa-plus"></i></i>
              </label>
          </div>
          <!--Fin de Boton-->
              
            <!--Ventana Modal para consultar si queire elminar producto-->
    <input type="checkbox" id="btn-modal">
    <div class="container-modal">
        <div class="content-modal">
            <h2>¡ATENCION!</h2>
            <p id="errorFormAdd">¿Estas seguro de que deseas añadir este libro?</p>
           
            <div class="btn-cerrar">
              
                <button type="submit">AGREGAR</i></button>
               
                <label for="btn-modal">VOLVER</i></label>
            </div>
        </div>
        <label for="btn-modal" class="cerrar-modal"></label>
    </div>
<!--Fin de Ventana Modal-->
               <!--  <button type="submit">Agregar</button>
                <button type="reset">Cancelar</button> -->
            </div>
            <div class="edicion--inicio">
                <a href="/">Ir al inicio</a>
            </div>
        </form>
        

   </section>


</main>


    </main>
            <!-- REDES SOCIALES -->              
            <section class="index__section__redes">
                <h5>¡Seguinos en nuestras redes!</h5>
                <div class="redes-sociales">
                    <a href=""><i class="fa-brands fa-facebook"></i></a>
                    <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                    <a href=""><i class="fa-brands fa-twitter"></i></a>
                    <a href=""><i class="fa-brands fa-youtube"></i></a>
                    <a href=""><i class="fa-brands fa-linkedin"></i></a>           
                </div>
        
           </section>
           <%- include('./partials/footer')  %>
        <!-- AOS -->
        <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
        <script>
          AOS.init();
        </script>

        <script src="/js/addBook.js"> </script>
    
        <!-- GLIDER -->
        <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
    
        <script>
    new Glider(document.querySelector('.glider'), {
      // Mobile-first defaults
      slidesToShow: 1,
      slidesToScroll: 1,
      scrollLock: true,
      dots: '#resp-dots',
      arrows: {
        prev: '.glider-prev',
        next: '.glider-next'
      },
      responsive: [
        {
          // screens greater than >= 775px
          breakpoint: 768,
          settings: {
            // Set to `auto` and provide item width to adjust to viewport
            slidesToShow: '2',
            slidesToScroll: '2',
            itemWidth: 150,
            duration: 0.25
          }
        },{
          // screens greater than >= 1024px
          breakpoint: 1024,
          settings: {
            slidesToShow: 4,
            slidesToScroll: 1,
            itemWidth: 100,
            duration: 0.25
          }
        }
      ]
    });
        </script>
    </body>
    </html>