<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head', {title: 'Busqueda'}) %>

  <body>
    <%- include('./partials/header') %>
    <main class="search-main">
      <span class="envios-gratis-span">ENVIOS GRATIS EN PRODUCTOS MAYORES A $5000</span>

      <section class="index__main__section">

        <div class="index__main--titulares">
            <h2 id="allNovels">Resultados de la busqueda:</h2>
            <hr>
        </div> 

      <% if (books.length != 0) { %>
          <% books.forEach(libro => { %>            
            <div class="contenedor-catalogo">                    
              <a href="/products/detail/<%=libro.id%>">
              <img src="/images/libros/<%=libro.imagen ? libro.imagen : 'not image.png'%>" alt="" >
              </a>                
            </div>   
            
            <% }) %>
          </section>
        <% }else { %>
          <div class="noResults">
            <video onloadstart="this.muted=true" autoplay muted playsinline loop>
              <source src="/images/404 error.mp4"></video>
              <h4>No encontramos resultados para tu busqueda :(</h4>
          </div>
          
        <% } %>
        
    </main>
   
    <%- include('./partials/footer') %>
    
  </body>
</html>