<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')  %>

    <%- include('./partials/header')  %>
   
    <body class="carrito-body"> 
   

     <main class="carrito__main" >
        <span class="envios-gratis-span">ENVIOS GRATIS EN PRODUCTOS MAYORES A $5000</span>


        <div class="carrito__main--titulares">
            <h2>Mi Carrito</h2>
            <hr>
        </div> 
        
        <!-- PRUEBA CARD CARRITO -->


    <% if (libro) { %>
     <article class="carrito" data-aos="fade-down"
data-aos-easing="linear"
data-aos-duration="1000">
    <div class="imagen-libro">
        <img src="/images/libros/<%= libro.imagen ? libro.imagen : 'not image.png' %>" alt="">
    </div>
    <div class="descripcion">
        <strong>Titulo del libro: <%= libro.titulo %></strong>
        <hr>
        <span>Autor: <%= libro.autor.nombre %></span>
        <strong> Precio: $<%= libro.precio %></strong>
       <div class="carrito_description-buttons">
         <button type="submit"><i class="fa-solid fa-trash"></i></button>
        <a href="/"><button>Seguir Comprando</button></a>
    
     </div> 
       
    </div>
</article>
   
        
        <div class="main__cajaCompra">
            <div class="main__precioFinal">

                <p class="main__precioFinal--envio">Precio del envio / gratuito</p>
                <div class="man__precioFinal--subTotal">
                    <p>Subtotal</p>
                <p>$ <%= libro.precio %></p>
                </div>                
                <form action="" method="get">
                <button type="submit">Proceder al pago seguro</button>
               <!--  <a href="#"><button>seguir comprando</button></a> -->
                </form>
           </div> 
           <% }%>

           <div class="main__carrito"> 
              <i class="fa-sharp fa-solid fa-truck"></i>
              <p>Envios gratuitos con su compra mayor a $5000</p>
           </div>
        </div>

                <!-- BANNER DE OFERTAS -->

                <section class="index__main__section--banner">
                    <figure class="banner__oferta--desktop">
                        <img src="/images/bannerdesktop2-02.png" alt="">
                    </figure>
                    <figure class="banner__oferta--mobile">
                        <img src="/images/banner mobile.png" alt="">
                    </figure>
                </section>
   

     </main>
     <!-- REDES SOCIALES -->              
<section class="index__section__redes">
    <h5>¡Seguinos en nuestras redes!</h5>
    <div class="redes-sociales">
        <a href=""><i class="fa-brands fa-facebook"></i></a>
        <a href=""><i class="fa-brands fa-square-instagram"></i></a>
        <a href=""><i class="fa-brands fa-twitter"></i></a>
        <a href=""><i class="fa-brands fa-youtube"></i></a>
        <a href=""><i class="fa-brands fa-linkedin"></i></a>           
    </div>

</section>


<%- include('./partials/footer')  %>
<!-- AOS -->
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>

<!-- GLIDER -->
<script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>

<script>
new Glider(document.querySelector('.glider'), {
// Mobile-first defaults
slidesToShow: 1,
slidesToScroll: 1,
scrollLock: true,
dots: '#resp-dots',
arrows: {
prev: '.glider-prev',
next: '.glider-next'
},
responsive: [
{
  // screens greater than >= 775px
  breakpoint: 768,
  settings: {
    // Set to `auto` and provide item width to adjust to viewport
    slidesToShow: '2',
    slidesToScroll: '2',
    itemWidth: 150,
    duration: 0.25
  }
},{
  // screens greater than >= 1024px
  breakpoint: 1024,
  settings: {
    slidesToShow: 4,
    slidesToScroll: 1,
    itemWidth: 100,
    duration: 0.25
  }
}
]
});
</script>
</body>
</html>