<%- include('./partials/head')  %>
<body class="catalogo">
    <%- include('./partials/header')  %>
    <span class="envios-gratis-span">ENVIOS GRATIS EN PRODUCTOS MAYORES A $5000</span>
    <main class="
    categoria">

    <!-- NOVELAS -->
    <section class="index__main__section">

        <div class="index__main--titulares">
            <h2 id="allNovels">Novelas</h2>
            <hr>
        </div> 
       
        <% libros.forEach(libro => { %> 
                <% if(libro.genero === "Novela" ||  libro.genero === "Novela Ficción" || libro.genero === "Novela Terror" || libro.genero === "Novela Fantasía" || libro.genero === "Novela Negra") { %>
                    <div class="contenedor-catalogo">                    
                        <a href="/products/detail/<%=libro.id%>">
                        <img src="/images/libros/libros/<%=libro.imagen ? libro.imagen : 'not image.png'%>" alt="" >
                        </a>                
            </div>   
            <% } %>  
            <% }) %>        
    </section>

        <!-- INFANTILES -->
        <section class="index__main__section">

            <div class="index__main--titulares">
                <h2 id="infantil">Infantiles</h2>
                <hr>
            </div> 
            
            <% libros.forEach(libro => { %>
                    <% if(libro.genero === "Infantil" ) { %>
                        <div class="contenedor-catalogo">                    
                            <a href="/products/detail/<%=libro.id%>">
                            <img src="/images/libros/<%=libro.imagen ? libro.imagen : 'not image.png'%>" alt="" >
                            </a>                
                </div>   
                <% } %>  
                <% }) %>        
        </section>



        <!-- DIVULGACION -->
        <section class="index__main__section">

            <div class="index__main--titulares">
                <h2 id="ciencia">Divulgación Científica</h2>
                <hr>
            </div> 
            
            <% libros.forEach(libro => { %>
                    <% if(libro.genero === "Divulgacion Cientifica" ) { %>
                        <div class="contenedor-catalogo">                    
                            <a href="/products/detail/<%=libro.id%>">
                            <img src="/images/libros/<%=libro.imagen ? libro.imagen : 'not image.png'%>" alt="" >
                            </a>                
                </div>   
                <% } %>  
                <% }) %>        
        </section>
        

        <!-- COMICS y MANGAS -->
        <section class="index__main__section">

            <div class="index__main--titulares">
                <h2 id="comics">Comics y Mangas</h2>
                <hr>
            </div> 
            
            <% libros.forEach(libro => { %>
                    <% if(libro.genero === "Comics" || libro.genero === "Manga" ) { %>
                        <div class="contenedor-catalogo">                    
                            <a href="/products/detail/<%=libro.id%>">
                            <img src="/images/libros/<%=libro.imagen ? libro.imagen : 'not image.png'%>" alt="" >
                            </a>                
                </div>   
                <% } %>  
                <% }) %>        
        </section>
        
       
        
<!-- AGREGAR FILTRADO POR CATEGORIAS QUE MUESTRE TODOS LOS LIBROS DE CADA CATEGORIA --> 

        <%- include('./partials/redes')  %>
    </main>
    <%- include('./partials/footer')  %>
    
    </body>
    </html>