<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head')  %>
         <!-- BOOTSTRAP -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<body>
  
    <nav class="navbar navbar-expand-sm navbar-light bg-body-secondary">
        <div class="container">
          <a href="/"><img src="/images/iconsProfile/<%= userLogin.icon %>" class="icon-dash" alt="" width="100px"></a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
          <ul class="navbar-nav me-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link active" href="#" aria-current="page">Bienvenido, <%= userLogin.name %> <span class="visually-hidden">(current)</span></a>
            </li>
            <li class="nav-item ">
              
              <a class="nav-link active" href="/products/agregar">Agregar Libro +</a>
            </li>
        
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Menú</a>
              <div class="dropdown-menu" aria-labelledby="dropdownId">
                <a class="dropdown-item" href="/usuarios">Ver Usuarios</a>
                <a class="dropdown-item" href="/user/logout">Cerrar Sesión</a>
              </div>
            </li>
          </ul>
          <form action="/search" method="get" class="d-flex my-2 my-lg-0">
            <input  class="form-control me-sm-2" type="search" name="search" placeholder="Buscar Libro">
            <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Buscar</button>
          </form>
        </div>
      </div>
    </nav><br>
    
<main>


   
    
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">libro</th>
            <th scope="col">precio</th>
            <th scope="col">autor</th>
            <th scope="col">acciones</th>
          </tr>
        </thead>
        <tbody>
         <% libros.forEach(({id,titulo,precio,autor, nombre}) => { %>
            <tr>
            <th scope="row"><%= id %></th>
            <td><%= titulo %></td>
            <td><%= precio %></td>
            <td><%= autor.nombre %></td>
            <td>
                <div class="d-flex gap-2">
                    <!-- <a class="btn btn-sm btn-primary" href="/products/agregar"><i class="fas fa-plus"></i></a> -->
                    <a class="btn btn-sm btn-primary" href="products/detail/<%= id %>"><i class="fa-solid fa-eye"></i></a>
                    <a class="btn btn-sm btn-success" href="products/editar/<%= id %>"><i class="fa-solid fa-edit"></i></a>
                    <a class="btn btn-sm btn-danger" href="/products/detail/<%=id%>"><i class="fa-solid fa-trash"></i></a>
                </div>
        </td>
          </tr>
         <% }) %>
          
         
        </tbody>
      </table>
</main>



<!-- BOOTSTRAP -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
 </body>
</html>