<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head')  %>
<body class="register__body">

   
    <main class="registro__main">
        

        <!-- formulario Login -->
       <section class="register__section--form">
         
         
        
            <form action="/user/login" method="POST" class="fomulario-registro" id="formLogin">
                <h2 class="titulo--registro">Login de usuario</h2>

                <div class="datos--personales">
                <input type="email" name="email" id="email" class="<%= locals.errors && errors.email ? 'errorInput' : null %>"  placeholder="Ingrese su email" >
                
                <small id="errorEmail"><%= locals.errors && errors.email ? errors.email.msg : null %></small>
                </div>

                <div class="form--password" >
                    <input type="password" name="password" id="password" class="<%= locals.errors && errors.password ? 'errorInput' : null %>" placeholder="Ingrese su contraseña" >
                    <small id="errorPass"><%= locals.errors && errors.password ? errors.password.msg : null %></small>
                </div>
               
                <div class="form--condiciones--recordar"> 
                    <input type="checkbox" name="recordar" id="">
                    <label for="recordar">Recordarme</label>
                </div>
                <div class="form--condiciones">
                    <a href="/user/register">¿No tenes Cuenta?</a>
                    
                </div>
                <small id="errorFormLogin"></small>
                <div class="form--buttons">
                    <button type="submit">Ingresar</button>
                    
                </div>
                <div class="form--condiciones">
                    <a href="/">Ir al inicio</a>
                </div>
            </form>

       </section>
      

    </main>

  
    <!-- AOS -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>

    <script src="/js/login.js"> </script>

    <!-- GLIDER -->
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>

    <script>
new Glider(document.querySelector('.glider'), {
  // Mobile-first defaults
  slidesToShow: 1,
  slidesToScroll: 1,
  scrollLock: true,
  dots: '#resp-dots',
  arrows: {
    prev: '.glider-prev',
    next: '.glider-next'
  },
  responsive: [
    {
      // screens greater than >= 775px
      breakpoint: 768,
      settings: {
        // Set to `auto` and provide item width to adjust to viewport
        slidesToShow: '2',
        slidesToScroll: '2',
        itemWidth: 150,
        duration: 0.25
      }
    },{
      // screens greater than >= 1024px
      breakpoint: 1024,
      settings: {
        slidesToShow: 4,
        slidesToScroll: 1,
        itemWidth: 100,
        duration: 0.25
      }
    }
  ]
});
    </script>
</body>
</html>