<%- include('./partials/head',{title: locals.userLogin.name})  %>
    <body>
        <%- include('./partials/header')  %> 
            <main>
                <section class="perfil--section">
                  <br>
                    <div>
                        <h1><%= `${locals.userLogin.name}` + ' ' + `${locals.userLogin.surname}`%> </h1>
                        <div> 
                            <% if (locals.userLogin) { %>
                                <a href="#">
                                    <img src="/images/iconsProfile/<%= userLogin.icon %>" alt="">
                                </a>
                          <% } %>
                    </div>
                        <h2> usuario: <%= `${locals.userLogin.id}` %></h2> 
                        <h2> E-mail: <%= `${locals.userLogin.email}` %></h2>
                        <h3><%= `${locals.userLogin.rol}` %></h3>
                        <br>
                </section>

            


                  </main>
                          <!-- REDES SOCIALES -->              
                          <section class="index__section__redes">
                              <h5>¡Seguinos en nuestras redes!</h5>
                              <div class="redes-sociales">
                                  <a href=""><i class="fa-brands fa-facebook"></i></a>
                                  <a href=""><i class="fa-brands fa-square-instagram"></i></a>
                                  <a href=""><i class="fa-brands fa-twitter"></i></a>
                                  <a href=""><i class="fa-brands fa-youtube"></i></a>
                                  <a href=""><i class="fa-brands fa-linkedin"></i></a>           
                              </div>
                      
                         </section>
                         <%- include('./partials/footer')  %>
                      <!-- AOS -->
                      <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
                      <script>
                        AOS.init();
                      </script>
                  
                      <!-- GLIDER -->
                      <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>
                  
                      <script>
                  new Glider(document.querySelector('.glider'), {
                    // Mobile-first defaults
                    slidesToShow: 1,
                    slidesToScroll: 1,
                    scrollLock: true,
                    dots: '#resp-dots',
                    arrows: {
                      prev: '.glider-prev',
                      next: '.glider-next'
                    },
                    responsive: [
                      {
                        // screens greater than >= 775px
                        breakpoint: 768,
                        settings: {
                          // Set to `auto` and provide item width to adjust to viewport
                          slidesToShow: '2',
                          slidesToScroll: '2',
                          itemWidth: 150,
                          duration: 0.25
                        }
                      },{
                        // screens greater than >= 1024px
                        breakpoint: 1024,
                        settings: {
                          slidesToShow: 4,
                          slidesToScroll: 1,
                          itemWidth: 100,
                          duration: 0.25
                        }
                      }
                    ]
                  });
                      </script>
                  </body>
                  </html>