<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head')  %>
<body class="register__body">

   
    <main class="registro__main">
        

        <!-- formulario registro -->
       <section class="register__section--form reg">
         
         
        
            <form  method="POST" class="fomulario-registro" enctype="multipart/form-data" id="formRegister">
                <h2 class="titulo--registro">Formulario de Registro</h2>

                <div class="datos--personales">
                <input type="text" name="name" id="name" class="<%= locals.errors && errors.name ? 'errorInput' : null %>"  placeholder="Ingrese su nombre" value="<%= locals.old && old.name ? old.name : null %>">
                <small id="errorName"><%= locals.errors && errors.name ? errors.name.msg : null %></small>

                <input type="text" name="surname" id="surname" class="<%= locals.errors && errors.surname ? 'errorInput' : null %>" placeholder="Ingrese su apellido" value="<%= locals.old && old.surname ? old.surname : null %>">
                <small id="errorSurname"><%= locals.errors && errors.surname ? errors.surname.msg : null %></small>

                <input type="email" name="email" id="email" class="<%= locals.errors && errors.email ? 'errorInput' : null %>" placeholder="E-mail" value="<%= locals.old && old.email ? old.email : null %>">
                <small id="errorEmail"><%= locals.errors && errors.email ? errors.email.msg : null %></small>
                </div>

                <div class="form--password">
                    <input type="password" name="pass" id="password" autocomplete="off" class="<%= locals.errors && errors.pass ? 'errorInput' : null %>" placeholder="Ingrese su contraseña" value="<%= locals.old && old.pass ? old.pass : null %>">
                    <small id="errorPass"><%= locals.errors && errors.pass ? errors.pass.msg : null %></small>

                    <input type="password" name="password2" id="password2" class="<%= locals.errors && errors.password2 ? 'errorInput' : null %>" placeholder="Confirme su contraseña" value="<%= locals.old && old.password2 ? old.password2 : null %>">
                    <small id="errorPass2"><%= locals.errors && errors.password2 ? errors.password2.msg : null %></small>


                    <input type="file" name="icon" id="icon" class="<%= locals.errors && errors.password2 ? 'errorInput' : null %>">
                    <small id="errorIcon"><%= locals.errors && errors.icon ? errors.icon.msg : null %></small>
                </div>

                <div class="form--condiciones">
                    <a href="/user/login">¿Ya tenes una cuenta?</a>
                </div>

                <p id="errorForm"></p>

                <div class="form--buttons">
                    <button type="submit">Registrarme</button>
                    <!-- <button type="reset">Borrar</button> -->
                </div>
                <div class="form--condiciones">
                    <a href="/">Ir al inicio</a>
                </div>
            </form>

       </section>
      

    </main>

    <!-- AOS -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init();
    </script>

    <script src="/js/register.js"></script>

    <!-- GLIDER -->
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1/glider.min.js"></script>

    <script>
new Glider(document.querySelector('.glider'), {
  // Mobile-first defaults
  slidesToShow: 1,
  slidesToScroll: 1,
  scrollLock: true,
  dots: '#resp-dots',
  arrows: {
    prev: '.glider-prev',
    next: '.glider-next'
  },
  responsive: [
    {
      // screens greater than >= 775px
      breakpoint: 768,
      settings: {
        // Set to `auto` and provide item width to adjust to viewport
        slidesToShow: '2',
        slidesToScroll: '2',
        itemWidth: 150,
        duration: 0.25
      }
    },{
      // screens greater than >= 1024px
      breakpoint: 1024,
      settings: {
        slidesToShow: 4,
        slidesToScroll: 1,
        itemWidth: 100,
        duration: 0.25
      }
    }
  ]
});
    </script>
</body>
</html>